@model MobLoot.WebMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 class="titles">Hello User! <img src="~/Content/assets/profile.png" style="width: 40px; height: 40px;"/></h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 class="boxtext" style="text-align: left;">Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
