@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="header-text">Loots!</h1>
    <p class="lead, description">A simple web application built for game designers to create monsters and give them loot tables!</p>
    <p class="lead">
        <a href="#content">
            <img class="arrow" src="~/Content/assets/arrowdown.png" />
        </a>
    </p>
</div>

<br />
<br />
<br />

<div class="row" id="content">

    <div class="col-md-6">
        <h2 class="titles">Create Monsters</h2>
        <p class="description">
            Create your very own fantasy monsters with our monsters page! Add attributes and give it a name, description, and monster level. There is no limit to the amount of monsters you can create!
        </p>
        <p><a class="btn button" href="~/Monsters">Monsters &raquo;</a></p>
    </div>

    <div class="col-md-6" style="text-align: center;">
        <img src="~/Content/assets/DragonLined.png" style="text-align: center; width: 300px; height: 300px;" />
    </div>
</div>

<div class="row">

    <div class="col-md-6" style="text-align: center;">
        <img src="~/Content/assets/helmet.png" style="text-align: center; width: 300px; height: 300px;" />
    </div>

    <div class="col-md-6">
        <h2 class="titles">Add Loot</h2>
        <p class="description">
            Once you've created a monster, assign it some loot on the loot page! Give it a large variety of loot from bad to good. Assigning a loot to a monster makes the loot only obtainable through the selected monster.
        </p>
        <p><a class="btn button" href="~/Loot">Loot &raquo;</a></p>
    </div>
</div>

<div class="row" id="content">

    <div class="col-md-6">
        <h2 class="titles">Simulate</h2>
        <p class="description">
            Simulate killing your monster and getting a randomly generated loot from the loot you added to the selected monster!
        </p>
        <p><a class="btn button" href="~/Event">Event &raquo;</a></p>
    </div>

    <div class="col-md-6" style="text-align: center;">
        <img src="~/Content/assets/sword.png" style="text-align: center; width: 300px; height: 300px;" />
    </div>
</div>


<style>

    html {
        scroll-behavior: smooth;
    }
</style>