@model MobLoot.Models.Loot.LootDetails

@{
    ViewBag.Title = "Delete";
}

<h2 class="titles">Delete Loot</h2>

<h3 class="boxtext">Are you sure you wish to delete <b>@Html.DisplayFor(model => model.LootName)</b>? :(</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn button" />
            <br />
            <br />
            <p><a class="btn button" href="~/Loot">Back</a></p>
        </div>
    }
</div>

<style>
    body {
        text-align: center;
    }
</style>
